html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    }

body{
    background: url(WhatsApp\ Image\ 2023-09-08\ at\ 10.02.55\ AM.jpeg) fixed no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-family: 'Miltonian Tattoo', cursive;
    font-family: 'Press Start 2P', cursive;
}

img{
    max-width: 100%;
}

.estilo {
    display: flex;
    background-position: center;
    flex-direction: column;
    align-items: center;
    margin-top: 12em;
    margin-bottom: 10em;
    padding: 0;
}


.header {
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: black;
}


.texto-header{
    justify-content: center;
}

.header_logo {
    width: 6em;
    height: auto;
    padding: .5em;
    border-radius: 5px;
}

#hamburguer {
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 1.5em;
    color: rgb(233, 37, 223);
    background-color: black;
}

.header_nav {
    display: none;
}

.header_nav.show {
    display: block;
}


ul {
    margin: auto;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .75em;
}

.header_nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.3em;
    font-size: .75em;
    text-align: center;
    transition: .5s ease;
    font-family: 'Lobster', cursive;
    font-family: 'Miltonian Tattoo', cursive;
    font-family: 'Press Start 2P', cursive;
}

.header_nav a:hover {
    color: rgb(233, 37, 223);
    background-color: black;
    font-style: oblique;
}

.conteudo-apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: .3em;
    margin-right: .3em;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: .3em;
    margin-right: .3em;
}

.desafio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: .3em;
    margin-right: .3em;
}

.conquistas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: .3em;
    margin-right: .3em;
}

.aprendizados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    text-align: justify;
    margin-left: .3em;
    margin-right: .3em;
}

.depoimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: .3em;
    margin-right: .3em;
}

.contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-left: .3em;
    margin-right: .3em;
}

.botao-subir{
    display: flex;
    align-items: end;
    float: right;
    padding-bottom: 1em;
}

.tamanho{
    width: 15em;
    height: auto;
    padding: 1em;
    border-radius: 30%;
}

.texto-paragrafo{
    color: white;
    display: block;
    padding-bottom: 1em;
    text-align: justify;
}

.card-projetos{
    display: flex;
    flex-direction: column;
}


h3{
    text-align: center;
    text-transform: uppercase;
}

.card{
    /*background: linear-gradient(transparent, rgb(65, 8, 65));*/
    background-color: rgba(133, 9, 133, 0.5);
    border: dashed .2em black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: .3em;
    margin-right: .3em;
}

.texto-card{
    padding: .5em;
    text-align: justify;
}

.repositorio{
    padding: .4em;
    font-size: 1em;
    border: solid .1em black;
    background-color: rgb(174, 41, 214);
    color: white;
    margin-bottom: .5em;
    text-decoration: none;
    border-radius: 5px;
    width: 10em;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    align-items: center;
}

.repositorio:hover{
    background-color: rgb(53, 14, 207);
    color: white;
}

.tamanho-projetos{
    width: 20em;
    height: auto;
    display: block;
    align-items: center;
}

.botoes{
    display: flex;
    flex-direction: column;
    margin-left: .2em;
    background: transparent purple;
    border-radius: 5px;
    font-size: .65em;
}

button{
    background-color: rgb(143, 5, 132);
    color: white;
    padding: .4em;
    margin-right: .5em;
    border: solid dashed white;
    border-radius: 5px ;
    text-align: justify;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-family: 'Miltonian Tattoo', cursive;
    font-family: 'Press Start 2P', cursive;
}

button:hover{
    background-color: rgb(53, 14, 207);
    color: white;
}

.clicar-botoes{
    text-decoration: none;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 3px;
    color: white;
}

.clicar-botoes a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.botao-subir{
    display: flex;
}

.subir{
    text-decoration: none;
    color: white;
    align-items: end;
}

h2{
    text-align: center;
}

.icon_img{
    width: 6em;
    height: auto;
    padding: .5em;
}

.titulo-topico{
    text-align: center;
}

.descricao-projeto{
    text-align: justify;  
    display: block;  
}

.botao{
    flex-direction: column;
    border-radius: 5px;
    gap: .8em;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.clicar-botoes{
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 3px;
    color: white;
}

footer {
    text-align: center;
    padding: 1em;
}
.icones {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.icones2 {
    width: 2.5em;
}

.texto-footer {
    font-size: .75em;
    text-transform: uppercase;
    margin: 0;
    color: white;
    padding-top: .5em;
}


@media screen and (min-width: 36em) {
    /*576px maior que*/

    h1{
        text-align: center;
        font-family: 'Lobster', cursive;
        font-family: 'Miltonian Tattoo', cursive;
        font-family: 'Press Start 2P', cursive;
        font-size:2em;
        margin-top: 1em;
    }

    #hamburguer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        text-align: center;
        margin: auto;
        transition: .5s ease;
        /*position: fixed;
        top: 0;
        background: linear-gradient(transparent, rgb(8, 8, 8));
        padding-bottom: 2em;*/
    }


    .header_logo {
        margin-left: 1em;
    }

    .header_nav {
        display: block;
        margin: 0;
    }

    .header_nav ul {
        margin-top: .5em;
        margin-right: .5em;
        font-size: .8em;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: end;
        justify-content: end;
    }

    .header_nav li {
        display: inline-block;
    }

    .header_nav a {
        margin-top: .5em;
        color: white;
        padding-right: .5em;
        transition: all 0.25s ease-in-out;
        display: flex;
    }

    .header_nav a:hover {
        color: rgb(233, 37, 223);
        background-color: black;
        bottom: .5em;
        border-bottom: .3em solid
    }

    .icones {
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
    }

    .estilo{
        height: 50%;
        padding: 0;
        margin: 0;
        }

    .artigo{
        width: 30em;
    }

    .conteudo-apresentacao{
        display: flex;
        flex-direction: row;
        float: inline-end;
        justify-content: center;
        text-align:right;
        margin-left: .75em;
        margin-right: .75em;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }
    
    .inicio{
        display: flex;
        flex-direction: row-reverse;
        margin-left: .75em;
        margin-right: .75em;
        margin-right: .75em;
        border-radius: 5px;
        text-align: left;
    }

    #imagem-inicio{
        display: block;
        margin-left: 1em;
    }

    .desafio{
        display: flex;
        flex-direction: row;
        float: inline-end;
        justify-content: center;
        text-align: end;
        margin-left: .75em;
        margin-right: .75em;
    }

    #imagem-desafios{
        display: block;
        margin-right: 1em;
    }

    .conquistas{
        display: flex;
        flex-direction: row-reverse;
        float: inline-start;
        justify-content: center;
        text-align: justify;
        margin-left: .5em;
        margin-right: .75em;
        margin-right: .75em;
    }

    #imagem-conquistas{
        display: block;
        margin-left: 1em;
    }
    
    .aprendizados{
        display: flex;
        flex-direction: row;
        float: inline-end;
        justify-content: center;
        text-align: end;
        margin-left: .75em;
        margin-right: .75em;
    }

    #imagem-aprendizado{
        display: block;
        margin-right: 1em;
    }
    
    .depoimento{
        display: flex;
        flex-direction: row-reverse;
        float: inline-end;
        justify-content: center;
        text-align: end;
        margin-left: .75em;
        margin-right: .75em;
    }

    #imagem-depoimento{
        display: block;
        padding-left: 1em;
    }
    
    .contatos{
        display: flex;
        flex-direction: row;
        float: inline-end;
        justify-content: center;
        text-align: end;
        margin-left: .5em;
        margin-right: .5em;
    }

    .botao{
        display: flex;
        flex-direction: row;
        width: 70em;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        }
    
    .titulo-topico{
        text-align: center;
    }

    .tamanho-projetos{
        width: 15em;
        height: auto;
        padding: .5em;
        text-align: center;
        float:center;
    }

    .texto-paragrafo{
        font-size: 1.5em;
        text-align: start;
    }

    .topicos{
        font-size: 1em;
    }

    .card-projetos{
        display: flex;
        flex-direction: column;
    }

    h3{
        text-align: center;
        text-transform: uppercase;
    }

    .card{
        /*background: linear-gradient(transparent, rgb(65, 8, 65));*/
        background-color: rgba(133, 9, 133, 0.5);
        border: dashed .2em black;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        padding-bottom: 2em;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: .75em;
        margin-right: .75em;
        
    }

    .texto-card{
        padding: .5em;
        text-align: justify;
    }

    .repositorio{
        padding: .5em;
        font-size: 1em;
        width: 3em;
        border: solid .1em black;
        background-color: rgb(174, 41, 214);
        color: white;
        margin-bottom: .5em;
        text-decoration: none;
        border-radius: 5px;
        align-items: end;
        justify-content: center;
        width: 10em;
        text-transform: uppercase;
    }

    .repositorio:hover{
        background-color: rgb(53, 14, 207);
        color: white;
    }

    .botoes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: .5em;
        border-radius: 5px;
        margin-left: .75em;
        margin-right: .75em;
        font-size: .75em;
        font-family: 'Lobster', cursive;
        font-family: 'Miltonian Tattoo', cursive;
        font-family: 'Press Start 2P', cursive;
    }

    button{
        background-color: rgb(143, 5, 132);
        color: white;
        padding: .4em;
        border: solid dashed white;
        border-radius: 5px ;
        margin: auto;
        text-align: center;
        font-family: 'Lobster', cursive;
        font-family: 'Miltonian Tattoo', cursive;
        font-family: 'Press Start 2P', cursive;
    }
    
    button:hover{
        background-color: rgb(53, 14, 207);
        color: white;
    }

    .clicar-botoes{
        background-color: rgb(143, 5, 132);
        color: white;
        padding: .4em;
        border: solid dashed white;
        border-radius: 5px;
        text-align: center;
        font-family: 'Lobster', cursive;
        font-family: 'Miltonian Tattoo', cursive;
        font-family: 'Press Start 2P', cursive;
        text-decoration: none;
        list-style-type: none;
        font-size: 1.2em;
        padding: 1em;
        border-radius: 3px;
        text-transform: uppercase;
    }

    .clicar-botoes a{
        color: white;
        text-decoration: none;
    }

    .clicar-botoes:hover{
        background-color: rgb(53, 14, 207);
        color: white;
    }
    

    .botao-subir{
        display: flex;
    }
    
    .subir{
        text-decoration: none;
        color: white;
        align-items: end;
    }

    .video{
        display: flex;
    }

    .video-depoimento{
        flex-wrap: wrap;
        align-items: center;
        height:20em;
        width: 35em;
        border-radius: 5px; 
        margin:auto;
        margin-right: 1em;
    }
    
}

